{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>Books Review- {{ title }} </title>
    {% else %}
        <title>Books Review</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top background-color:yellow">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}"> Books Review</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About Us </a>
               <a class="nav-item nav-link" href="{% url 'blog-contact' %}">Contact Us</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
               <a class="nav-item nav-link" href="{% url 'post-create' %}">Post Review</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <center> <h4 class="mt-2 mb-2">Check this out...</h4> 
            <div class="input-group mb-3 mt-3">
              <input type="text" class="form-control" placeholder="title, reviewer, author" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append"> 
               <span class="input-group-text" id="basic-addon2">Search</span>
              </div>
            </div> </center>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Reviews</li>
                <li class="list-group-item list-group-item-light">Popular Reviewers</li>
                <li class="list-group-item list-group-item-light">Books Review Events</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

<!-- Footer -->
<footer class="page-footer font-small teal pt-4" style="background-color:#5f788a">
    <div class="container-fluid text-center text-md-left">
      <div class="row" style="color:white">
      <center>
        <div class="col-md-6 mb-md-0 mb-3">
          <h5 class="text-uppercase font-weight-bold">Subscribe to Our Newsletter</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id excepturi hic.</p>
          <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter your e-mail" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append"> 
               <span class="input-group-text" id="basic-addon2">Subscribe</span>
            </div>
          </div> <br>
          <p style="color:#cbd5db"> Become Our Partner | Advertising </p>
        </div>
      </center>
      </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="/" style="color:#cbd5db"> Books Review</a>
    </div>
  </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>