{% extends "blog/base.html" %}
{% block content %}
{% load static %}
    <div class="content-section">
	<legend class="border-bottom mb-3"> Contact Us </legend>
         <div > <iframe  width="680" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=universitas%20gadjah%20mada&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
         </div>
             <p> Universitas Gadjah Mada <br> Yogyakarta, Indonesia<br> </p>
             <p><abbr title="Phone">P</abbr>: (021) xxxx xxxx</p>
             <p> <abbr title="Email">E</abbr>: <a href="mailto:"> booksreview@mail.com </a> </p>
             <p> <abbr title="Instagram"> I </abbr>: <a href="#"> @abooksreview</a> </p>
</div>
{% endblock content %}
